<!doctype html>
<html>
  <head>
    <title>Rozporek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google" content="notranslate" />
  </head>
  <body>
    <div>
      <%= env['x-rack.flash'][:notice] %>
      <%= env['x-rack.flash'][:error] %>
    </div>

    <div>
      <form method="POST" action="<%= request.path %>" enctype="multipart/form-data">
        <div>
          <label for="dirname">
            The name of the directory to extract to (leave empty to not extract to a top dir)
          </label>
          <input type="text" name="dirname">
        </div>


        <div>
          <input type="file" name="file">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
